@page
@using Microsoft.AspNetCore.Authorization
@model RoutingEksempel.Pages.RoutesModel

<h1>Routes</h1>

@foreach (var descriptor in Model.descriptors)
{
    
    <div class="card">
        <div class="card-body">
            <h1><a asp-page="/@descriptor.AttributeRouteInfo.Template">@descriptor.DisplayName</a></h1>
            <p>id: @descriptor.Id</p>
            <p>Template: @descriptor.AttributeRouteInfo.Template</p>
            <br />
            <h4>RouteValues</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Value</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var par in descriptor.RouteValues)
                    {
                        <tr>
                            <th scope="row">@par.Key</th>
                            <td>@par.Value</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
}
